@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}
#video-grid {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
}
video {
  display: block;
  flex: 1;
  object-fit: cover;
  border: 1px solid #fff;
  max-width: 600px;
}
.main {
  height: 100%;
  display: flex;
}
.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
}
.main__right {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-left: 3px solid #dddddd;
}
.main__videos {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__controls {
  display: flex;
  background-color: #038efc;
  color: #fff;
  padding: 5px;
  justify-content: space-between;
}
.main__controls_block {
  display: flex;
}
.main__controls_button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  margin: 5px;
}
.main__controls_button span {
  margin-top: 10px;
  display: block;
}
.main__controls_button:hover {
  background-color: #34383b;
}
.main__controls_button i {
  font-size: 25px;
}
.leaveMeeting {
  background-color: #f016de;
  color: #fff;
}
.leaveMeeting:hover {
  background-color: red;
  color: #fff;
}
.main__header {
  color: #34383b;
  text-align: center;
  padding: 20px;
  border-bottom: 3px solid #dddddd;
}
.main__chat__window {
  flex-grow: 1;
  overflow: auto;
  padding: 20px 20px 0 20px;
}
.main__message_container {
  padding: 20px 10px;
  display: flex;
}
.main__message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #555555;
  user-select: none;
  outline: none;
}

#all_messages li {
  color: #555555;
  list-style: none;
  border-bottom: 1px solid #fff;
  padding: 5px 0;
}
.unmute {
  color: red;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nickName {
  width: 80%;
  height: 30px;
}
.modal-warn {
  color: coral;
  font-size: 13px;
}
.inputBtn {
  background-color: #41b4f7;
  border: #0f16f8;
  border-radius: 5px;
  color: #fff;
  width: 80%;
  height: 40px;
  cursor: pointer;
}
